
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Abril Fatface';
}

body {
  background: bisque;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  background:black;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 30px 40px;
  width: 340px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


h1 {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
}


.value {
  margin-bottom: 20px;
  text-align: left;
}

.value label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #ddd;
}

.value input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}


.currency-section {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.currency-box {
  flex: 1;
  text-align: left;
   

}

.currency-box label {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #ddd;
}

.currency-box select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  outline: none;
  background:rgba(211, 211, 211, 4);
  color: black;
}


.msg {
  margin-bottom: 20px;
  font-size: 16px;
  color: #ffd369;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
}


button {
  background: #00adb5;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
}

button:hover {
  background: #06c3ce;
}
